<section id="footer">
  <ul>
    <li><a href="http://facebook.com/events/251708241956711" class=""><span class="label">Facebook</span></a></li>
  </ul>
  <img id="moksha" src="static/mok.png">
  <div class="copyright image centered">
    <ul class="menu">
      <li>&copy; Labyrinthos. All rights reserved.</li>
      <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
  </div>
</section>
