{% import "_headers.njk" as headers1 %}

<!DOCTYPE HTML>
<!--
	Overflow by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		{{ headers1.head("Login", "") }}
	</head>
	<body>
			<section id="banner">
				<header class="image">
					<img id="logo" src="static/logo.png">
					<h2>Labyrinthos</h2>
				</header>
			</section>
			
			<article id="login" class="container box style3">
				<header>
					<h2>Login</h2>
				</header>
				<form method="post" action="/login">
					<div class="row 50%">
						<input type="hidden" name="_csrf" value="{{csrfToken}}">
						<div class="6u 12u$(mobile)">
							<label>Usernmae</label>
							<input type="text" name="username" placeholder="Usernmae you registered with" required />
						</div>
						<div class="6u$ 12u$(mobile)">
							<label>Password</label>
							<input type="password" name="password" placeholder="Password" required/>
						</div>
						{% if loginError %}
							<div class="12u$ 12u$(mobile) centered is-error">
								{{loginError}}
							</div>
						{% endif %}
						<div class="12u$">
							<ul class="actions">
								<li><input type="submit" value="Login"/></li>
							</ul>
						</div>
					</div>
				</form>
			</article>
			
		{% include "_footer.njk" %}
		{% include "_counter.njk" %}
	</body>
</html>
