{% import "_headers.njk" as headers1 %}

<!DOCTYPE HTML>
<!--
	Overflow by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		{{ headers1.head("Play", "") }}
	</head>
	<body>
			<section id="banner">
				<header class="image">
					<img id="logo" src="static/logo.png">
					<h2>Labyrinthos</h2>
				</header>
			</section>
			
			<article id="play" class="container box style3">
				<header>
					<h2>Level {{ level + 1}}</h2>
				</header>
				<div style="text-align:center;">
					{{ q.question | safe}}
					{% if q.images %}
					<div class="image centered" id="qimgs">
					{% for img in q.images %}
						<img src='http://www.i.imgur.com/{{img}}.png'>
					{% endfor %}
					</div>
					{% endif %}
					{% if hint %}
						<p class='hint'>Hint : {{hint}}</p>
					{% endif %}
				</div>
				<form method="post" action="/play">
					<div class="row 50%">
						<input type="hidden" name="_csrf" value="{{csrfToken}}">
						<div class="12u$ 12u$(mobile)">
							<br>
						</div>
						<div class="12u$ 12u$(mobile)">
							<label>Answer</label>
							<input type='text' name="attemptAnswer" placeholder="....." required>
						</div>
						{% if error %}
							<div class="12u$ 12u$(mobile) centered is-error">
								{{error}}
							</div>
						{% endif %}
						<div class="12u$">
							<ul class="actions">
								<li><input type="submit" value="Try"/></li>
							</ul>
						</div>
					</div>
				</form>
			</article>
			
		{% include "_footer.njk" %}
		
		<div class="countCont" id="ldrboard">
			<span id="countText">
				<a href="/leaderboard">Leaderboard</a>
			</span>
			<hr>
			<span id="countText">
				Event ends at 1 AM
			</span>
		</div>
		{% include "_counter.njk" %}
	</body>
</html>
